.cartItem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    font-size: 17px;
}

.item{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    text-decoration: none;
    color: #000;
}

.count{
    display: flex;
    align-items: center;
    justify-content: center;
}


.btnDelete{
    border: none;
    background: #fff;
    font-size: 17px;
}
@media (max-width: 767px) {
    .item{
       grid-template-columns: 1fr;
    }
}